SolutionsLeatherGoods/Presentation/ASF.UI.WbSite/Service References/ServicesReferenced/WebService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ValidarTarjeta">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Nro" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="Saldo" type="s:double" />
            <s:element minOccurs="0" maxOccurs="1" name="venc" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="seg" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ValidarTarjetaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ValidarTarjetaResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AgregarCredito">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Monto" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AgregarCreditoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AgregarCreditoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ValidarTarjetaSoapIn">
    <wsdl:part name="parameters" element="tns:ValidarTarjeta" />
  </wsdl:message>
  <wsdl:message name="ValidarTarjetaSoapOut">
    <wsdl:part name="parameters" element="tns:ValidarTarjetaResponse" />
  </wsdl:message>
  <wsdl:message name="AgregarCreditoSoapIn">
    <wsdl:part name="parameters" element="tns:AgregarCredito" />
  </wsdl:message>
  <wsdl:message name="AgregarCreditoSoapOut">
    <wsdl:part name="parameters" element="tns:AgregarCreditoResponse" />
  </wsdl:message>
  <wsdl:portType name="WebService1Soap">
    <wsdl:operation name="ValidarTarjeta">
      <wsdl:input message="tns:ValidarTarjetaSoapIn" />
      <wsdl:output message="tns:ValidarTarjetaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AgregarCredito">
      <wsdl:input message="tns:AgregarCreditoSoapIn" />
      <wsdl:output message="tns:AgregarCreditoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebService1Soap" type="tns:WebService1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ValidarTarjeta">
      <soap:operation soapAction="http://tempuri.org/ValidarTarjeta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AgregarCredito">
      <soap:operation soapAction="http://tempuri.org/AgregarCredito" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebService1Soap12" type="tns:WebService1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ValidarTarjeta">
      <soap12:operation soapAction="http://tempuri.org/ValidarTarjeta" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AgregarCredito">
      <soap12:operation soapAction="http://tempuri.org/AgregarCredito" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService1">
    <wsdl:port name="WebService1Soap" binding="tns:WebService1Soap">
      <soap:address location="http://tarjeta2016.azurewebsites.net/WebService1.asmx" />
    </wsdl:port>
    <wsdl:port name="WebService1Soap12" binding="tns:WebService1Soap12">
      <soap12:address location="http://tarjeta2016.azurewebsites.net/WebService1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>